.container {
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #f0f0f0;
    width: 414px;
    height: 736px;
    padding-top: 80px;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
  }
  
  .backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .city {
    font-size: 1.8em;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 1px 1px #000;
  }
  
  .conditions {
    font-size: 1.2em;
    margin-bottom: 10px;
    text-shadow: 1px 1px #000;
  }
  
  .temperature {
    font-size: 4.8em;
    font-weight: 300;
    letter-spacing: -6px;
    text-shadow: 1px 1px #000;
    margin-bottom: 15px;
  }

  .weatherInfo,
  .airQualityInfo,
  .pollenInfo,
  .hourlyForecast {
    margin-bottom: 20px;
    text-align: left;
    padding: 0 20px;
  }
  
  .infoTitle {
    font-size: 1.3em;
    font-weight: 600;
    margin-bottom: 10px;
    text-shadow: 1px 1px #000;
  }
  
  .infoSubtitle {
    font-size: 1.1em;
    margin-bottom: 5px;
    text-shadow: 1px 1px #000;
  }
  

.search {
    transition: width 0.5s, border-radius 0.5s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    &:hover {
      background: rgba(253, 246, 246, 0.871);
      box-shadow: 0 0 0 3px rgb(41, 67, 95);
    }
    &:focus {
      outline: none;
      box-shadow: none;
      padding-left: 15px;
      cursor: text;
      width: 300px;
      background: rgb(255, 255, 255);
    }
    &:not(:focus) {    
        text-indent:-5000px;    
    }
}
  
.searchIcon {
    position: relative;
    width: 40px;
    left: -40px;
    top: -8px;
    cursor: pointer;
  }

  .searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    margin-left: 20px;
  }

  .hourlyForecast {
    overflow-x: auto;
    white-space: nowrap;
  }
  
  .forecastItems {
    display: inline-flex;
    overflow-x: auto; /* Make the list horizontally scrollable */
    width: 100%;
  }
  
  .forecastItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }

  .minMaxTemps {
    font-size: 1.5rem;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  }
  .pollenRiskImg {
	max-width: 24px;
	max-height: 24px;
	object-fit: contain;
  }
